<div class="fetch-stats-container">
  <span>
    <label class="padding-right-5px" for="sortBy">Sort By:</label>
    <select id="sortBy" [(ngModel)]="selectedSortBy">
      <option
        *ngFor="let sortByOption of sortByOptions"
        [ngValue]="sortByOption.value"
      >
        {{ sortByOption.label }}
      </option>
    </select>
  </span>
  <span>
    <label class="padding-right-5px" for="sortDirection">Sort Direction:</label>
    <select id="sortDirection" [(ngModel)]="selectedSortDirection">
      <option
        *ngFor="let sortDirectionOption of sortDirectionOptions"
        [ngValue]="sortDirectionOption.value"
      >
        {{ sortDirectionOption.label }}
      </option>
    </select>
  </span>
  <span>
    <button [disabled]="isLoading" (click)="onGetStatisticsClicked()">
      Get Statistics
    </button>
  </span>
</div>
